.idea
.vscode
machine_learning_module/testcase.csv
*.out
machine_learning_module/c_example/temp
machine_learning_module/c_example/*.out
machine_learning_module/out
scripts/LOOP
scripts/SRC
/scripts/LOOP/
/scripts/SRC/
/scripts/LOOP/obj-loop/
/machine_learning_module/src/__pycache__
/scripts/jasper-3.0.3
/scripts/libxml2-2.9.14
/scripts/libxml2-2.9.14/
